.hide {
  visibility: hidden;
}

/** Page position **/

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100vw;
}

#container_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: row;
}

#container_2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#container_3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

/** Page position End **/

/** container_1 **/

#container_1 .item_wrapper {
  width: 10vw;
  height: 10vw;
}

/** container_1 end **/
/** page position **/

main {
  display: grid;
  grid-template-columns: 1fr, 1.5fr, 1fr;
}

#container_1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#container_2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#container_3 {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: row;
}

/** page position end **/

/** container_1 **/

.item_wrapper img {
  border-radius: 50%;
}

#clip-candle {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  object-position: 100% 0;
}

#clip-flower {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

#clip-sign {
  width: 10vw;
  height: 10vw;
  object-fit: fill;
}

#clip-topper {
  width: 10vw;
  height: 10vw;
  object-fit: fill;
}

.texture_wrapper img {
  width: 10vw;
  height: 10vw;
  object-fit: fill;
  border-radius: 50%;
}

/** container_1 end **/
