/** colors **/

/** colors end **/

/** generel **/

.hide {
  visibility: hidden;
}

.avoid-clicks {
  pointer-events: none;
}

#Shadow,
#plate {
  pointer-events: none;
}

/** generel end **/

/** page position **/

main {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

#container_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#container_2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#container_3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

/** page position end **/

/** container_1 **/

.item_wrapper img {
  border-radius: 50%;
  border: solid 1px;
}

#clip-candle {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  object-position: 100% 0;
}

#clip-flower {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

#clip-sign {
  width: 10vw;
  height: 10vw;
  object-fit: fill;
}

#clip-topper {
  width: 10vw;
  height: 10vw;
  object-fit: fill;
}

.texture_wrapper img {
  width: 10vw;
  height: 10vw;
  object-fit: fill;
  border-radius: 50%;
}

/** container_1 end **/

/** container_2 **/

#container_2 img {
  width: 40vw;
  position: absolute;
}

/** container_2 end **/

/** container_3 **/

#color_container {
  display: flex;
  flex-wrap: wrap;
}

#color_container div {
  width: 6vw;
  height: 6vw;
  margin: 2px;
  border-radius: 50%;
  border: solid 1px;
}

/** container_3 end **/
